E2E_BASE_URL=http://127.0.0.1:3100
E2E_API_URL=http://127.0.0.1:4100
E2E_METAMASK_EXTENSION_PATH=/absolute/path/to/metamask-unpacked
E2E_METAMASK_SEED_PHRASE=test test test test test test test test test test test junk
E2E_METAMASK_PASSWORD=ChangeMe123!
E2E_CHAIN=base

